// @import 'nib/reset'
// global-reset()
$color = #03a9f4

body
  padding 0
  margin 0
  font-family Roboto, sans-serif

// @import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500');
@import '../node_modules/draft-js/dist/Draft.css'
@import '../app/**/*.styl'

.mdl-layout__header-row
  padding 0 40px

.mdl-layout__content
  padding 20px

.mdl-layout__drawer-button
  margin-top 20px !important

.form
  padding 20px

  .error
    color red
